<section class="container">
<div class="columns">
  <div class="column">
    <h1>Welcome back. Ready to get fit?</h1>
    <span class="brand">KF</span>
    <form>
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-large" type="text" placeholder="Username" name="username" />
          <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
        </div>
        <p class="help is-success">This username must be a valid email address</p>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input is-large" type="password" name="password" />
        </div>
      </div>
      <button class="button is-primary" type="submit">Login</button>
      <a href="#">Forgot your password?</a>
      <a href="#">Dont have an account? Get Started.</a>
    </form>
  </div>
  <div class="column">

    <div class="control has-icons-left"><button class="button is-large is-full-width" type="button">Sign In With Facebook</button></div>
    <div class="control has-icons-left"><button class="button is-large is-full-width" type="button">Sign In With Twitter</button></div>
    <div class="control has-icons-left"><button class="button is-large is-full-width" type="button">Sign In With Google+</button></div>

  </div>
</div>
</section>
