
  <nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item"><img src="./../../../assets/kf_transparent-bw.png"></div>
        <a class="navbar-item" routerLink="/dashboard" routerLinkActive="is-active" >Dashboard</a>
        <a class="navbar-item" routerLink="/signIn" routerLinkActive="is-active">Sign In</a>
        <a class="navbar-item" routerLink="/workout" routerLinkActive="is-active">Add Workouts</a>
        <a class="navbar-item" routerLink="/workout" routerLinkActive="is-active">Modify Routine</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item navbar-brand">KF</div>
      </div>
    </div>



  </nav>


