<!--The content below is only a placeholder and can be replaced.-->
<!--- container  then tiles-->
<section class="hero is-fullheight">
  <div class="power-clean-bg"></div>
  <!--footer will be sticky -->
  <div class="hero-head">
    <div class="container">

      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
  </div>
  <div class="hero-body">

    <app-signin></app-signin>
  </div>
  <div class="hero-foot nav-footer has-background-white has-text-grey-dark">
    <nav class="tabs">
      <div class="level-left">
        <ul>
          <li class="is-active">
            <a>Overview</a>
          </li>
          <li>
            <a>Modifiers</a>
          </li>
          <li>
            <a>Grid</a>
          </li>
          <li>
            <a>Elements</a>
          </li>
          <li>
            <a>Components</a>
          </li>
          <li>
            <a>Layout</a>
          </li>
        </ul>
      </div>
    </nav>


  </div>
</section>
