<!--The content below is only a placeholder and can be replaced.-->
<!--- container  then tiles-->

<section>
    <router-outlet class="container"></router-outlet>
  <!--footer will be sticky -->
   <app-header></app-header>
  <!--
  <div class="hero-foot nav-footer has-background-white has-text-grey-dark">
    <nav class="tabs">
      <div class="level-left">
        <ul>
          <li class="is-active">
            <a>Overview</a>
          </li>
          <li>
            <a>Modifiers</a>
          </li>
          <li>
            <a>Grid</a>
          </li>
          <li>
            <a>Elements</a>
          </li>
          <li>
            <a>Components</a>
          </li>
          <li>
            <a>Layout</a>
          </li>
        </ul>
      </div>
    </nav>


  </div>-->
</section>
